<div class="profile-wrap">
  <div class="row">
      <div class="col-md-5 text-right">
        <%= attachment_image_tag @user, :profile_image ,fallback: "icon.png" ,size:'150x150', class: "round-img" %>
      </div>
      <div class="col-md-7 text-center">
        <div class="row">
          <h1><%= @user.name %></h1>
          <%= link_to "Edit Profile", edit_user_path, class: "btn btn-outline-dark common-btn edit-profile-btn" %>
        </div>
        <div class="row">
          <p><%= @user.introduction %></p>
        </div>
        <% if @user == current_user %>
          <div class="row">
            <p>
              <%= @user.email %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="flex-box">
    <% @post_images.each do |post_image| %>
      <%= link_to post_image_path(post_image.id) do %>
        <%= attachment_image_tag post_image, :image ,size:'300x300' %>
      <% end %>
    <% end %>
  </div>
</div>
