<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="logo">
            <h2>EcoHabigram</h2>
            <p class="text-secondary">エコハビメンバーの写真や動画をチェックしよう</p>
          </div>
          <%= form_with model: @user, url: user_session_path, local: true do |f| %>
                <!--<div class="form-group">-->
                <!--  <%#= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "form-control" %>-->
                <!--</div>-->

            <div class="form-group">
              <%= f.label :name %><br />
              <%= f.text_field :name, autofocus: true, placeholder: "25th 真田隼輔", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "form-control" %>
            </div>

                <!--<div class="form-group">-->
                  <%#= f.password_field :password_confirmation, autocomplete: "off", placeholder: "パスワードの確認", class: "form-control" %>
                <!--</div>-->

            <div class="actions">
              <%= f.submit "ログイン", class: "btn btn-primary w-100" %>
            </div>
            <% end %>

            <br>

            <p class="devise-link">
              初めてのユーザーは
              <%= link_to "新規登録", new_user_registration_path %>
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

