<div class="col-md-10 col-md-offset-1 mx-auto postShow-wrap">
  <div class="row post-wrap">
    <div class="col-md-8">
      <div class="card-left">
        <span class="resize-image">
          <%= attachment_image_tag @post_image, :image %>
        </span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card-right">
        <div class="card-right-comment">
          <div class="card-right-name">
            <%= link_to user_path(@user), class: "no-text-decoration" do %>
              <%= attachment_image_tag @user, :profile_image ,fallback: "icon.png" ,size:'50x50'%>
            <% end %>
            <%= link_to user_path(@user), class: "black-color no-text-decoration post-user-name",
              title: @user.name do %>
              <strong><%= @user.name %></strong>
            <% end %>
          </div>
          <div class="m-2">
            <strong>
              <%= @post_image.caption %>
            </strong>
          </div>
          <div class="comment-post-id">
            <div class="m-2">
            </div>
          </div>
        </div>
        <div class="row parts">
        </div>
        <div class="post-time"><%= time_ago_in_words(@post_image.created_at).upcase %>前</div>
        <hr>
        <% if @post_image.user == current_user %>
          <%= link_to "削除", post_image_path(@post_image), method: :delete %>
        <% end %>
      </div>
    </div>
  </div>
</div>
